@media (max-width: 414px) {
  header {
    height: 40vh;
  }

  header .logo1 {
    top: 6vh;
  }

  header h1 {
    position: absolute;
    top: 26vh;
    width: 90%;
  }

  header .baby_bat_codes {
    top: 32vh;
  }
}
