@media (max-width: 414px) {
  header {
    height: 42vh;
  }

  header .logo1 {
    top: 6vh;
  }

  header h1 {
    top: 26vh;
    width: 65%;
    letter-spacing: 0.3rem;
  }

  header .baby_bat_codes {
    top: 32vh;
  }

  main .support {
    top: 46vh;
    width: 70%;
  }

  main .btn {
    position: absolute;
    background-image: linear-gradient(to right, #c9d1d9 77.5%, #6b727c 23.5%);
    width: 14rem;
    height: 3rem;
    color: #000;
    top: 54vh;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  main .btn:hover {
    filter: drop-shadow(0 0 0.6rem #c9d1d9);
  }

  main .btn .coffee {
    position: absolute;
    top: 0.5vh;
    left: 1vw;
    font-size: 2rem;
  }

  main .btn .buyme {
    position: absolute;
    font-weight: bold;
    color: #000;
    top: 2vh;
    left: 11vw;
  }

  main .btn .heart {
    margin-left: 47.5vw;
    margin-top: 1.3vh;
    background-color: #c9d1d9;
    height: 0.6rem;
    transform: rotate(-45deg);
    width: 0.6rem;
    position: relative;
  }

  main .btn .heart:before,
  .heart:after {
    content: "";
    background-color: #c9d1d9;
    border-radius: 50%;
    height: 0.6rem;
    position: absolute;
    width: 0.6rem;
  }

  main .btn .heart:before {
    top: -0.3rem;
  }

  main .btn .heart:after {
    left: 0.3rem;
  }

  main .btn .number {
    position: absolute;
    font-size: 0.9rem;
    font-weight: bold;
    top: 3.3vh;
    right: 3.8vw;
  }

  main .arquivo-estudos {
    position: absolute;
    background-color: #000000;
    box-shadow: 2px 0 0 0 #c9d1d9 inset;
    width: 20rem;
    height: 8rem;
    top: 66vh;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

  main .arquivo-estudos .linha-vertical {
    position: absolute;
    height: 100%;
    border-left: 2px solid #c9d1d9;
    left: 2vw;
}
 
  main .arquivo-estudos .road {
    position: absolute;
    top: 3vh;
    left: 5vw;
}

}
