* {
  margin: 0;
  padding: 0;
  color: #c9d1d9;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 50vh;
  background-color: #000000;
  box-shadow: 1px 0 0 1px #262626;
}

header .logo1 {
  position: absolute;
  top: 7.5vh;
  left: 50%;
  transform: translate(-50%);
}

header .logo {
  width: 8rem;
  background: #121212;
  border: 3.5px solid #c9d1d9;
  border-radius: 50%;
}

header h1 {
  position: absolute;
  top: 31vh;
  left: 50%;
  transform: translate(-50%);
  font-family: 'Nanum Pen Script', cursive;
  font-size: 2.3rem;
  letter-spacing: 0.5rem;
}

header .baby_bat_codes {
  position: absolute;
  top: 38vh;
  left: 50%;
  transform: translate(-50%);
  transition: all 300ms ease-in-out;
  text-decoration: none;
  font-family: Roboto;
}

header .baby_bat_codes:hover {
  text-decoration: underline;
}

/* body */

body {
  width: 100vw;
  background: #121212;
  overflow-x: hidden;
}

main {
  height: 117vh;
  width: 100vw;
}

main .support {
  position: absolute;
  font-family: Roboto;
  font-size: 1rem;
  top: 58vh;
  left: 50%;
  transform: translate(-50%);
}

main .btn {
  position: absolute;
  background-image: linear-gradient(to right, #c9d1d9 77.5%, #6b727c 23.5%);
  width: 14rem;
  height: 3rem;
  color: #000;
  top: 67vh;
  left: 50%;
  transform: translate(-50%);
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

main .btn:hover {
  filter: drop-shadow(0 0 0.6rem #c9d1d9);
}

main .btn .coffee {
  position: absolute;
  top: 1.4vh;
  left: 0.8vw;
  width: 1.2rem;
}

main .btn .buyme {
  position: absolute;
  font-weight: bold;
  color: #000;
  top: 2.4vh;
  left: 2.9vw;
}

main .btn .heart {
  margin-left: 14.3vw;
  margin-top: 1.5vh;
  background-color: #c9d1d9;
  height: 0.6rem;
  transform: rotate(-45deg);
  width: 0.6rem;
  position: relative;
}

main .btn .heart:before,
.heart:after {
  content: "";
  background-color: #c9d1d9;
  border-radius: 50%;
  height: 0.6rem;
  position: absolute;
  width: 0.6rem;
}

main .btn .heart:before {
  top: -0.26rem;
}

main .btn .heart:after {
  left: 0.3rem;
}

main .btn .number {
  position: absolute;
  font-size: 0.9rem;
  font-weight: bold;
  top: 3.9vh;
  right: 1.2vw;
}

main .arquivo-estudos {
  position: absolute;
  background-color: #c9d1d9;
  box-shadow: 2px 0 0 0 #6b727c inset;
  width: 26.5rem;
  height: 8rem;
  top: 82vh;
  left: 50%;
  transform: translate(-50%);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

main .arquivo-estudos:hover {
  top: 81.5vh;
  filter: drop-shadow(0.2rem 0.2rem 0.2rem #6b727c);
}

main .arquivo-estudos .linha-vertical {
  position: absolute;
  height: 100%;
  border-left: 4px solid #6b727c;
  left: 0.1vw;
  border-radius: 0.3rem 0 0 0.3rem;
}

main .arquivo-estudos .road {
  position: absolute;
  font-size: 1.1rem;
  white-space: nowrap;
  color: #121212;
  top: 3.5vh;
  left: 1.5vw;
}

main .arquivo-estudos .stacks1 {
  position: absolute;
  white-space: nowrap;
  font-size: 1.4rem;
  top: 8.5vh;
  left: 1.5vw;
  color: #6b727c;
}

main .arquivo-estudos .stacks2 {
  position: absolute;
  white-space: nowrap;
  font-size: 1.3rem;
  top: 13vh;
  left: 1.5vw;
  color: #000000;
}

main .links-container {
  display: flex;
  top: 25.5vh;
  left: -1vw;
  position: absolute;
}

main .links-container aside a {
  text-decoration: none;
}

main .links-container aside i {
  width: 3.1rem;
  display: flex;
  cursor: pointer;
  font-size: 2.8rem;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

main .links-container aside .github {
  color: #c9d1d9;
  position: absolute;
}

main .links-container aside .github:hover {
  transform: scale(1.03);
}

main .links-container aside .codepen {
  color: #c9d1d9;
  position: absolute;
  top: 16vh;
}

main .links-container aside .codepen:hover {
  transform: scale(1.03);
}

main .links-container aside .spotify {
  color: #c9d1d9;
  position: absolute;
  top: 32vh;
}

main .links-container aside .spotify:hover {
  transform: scale(1.03);
}

main .links-container aside .github-name {
  position: absolute;
  left: 5vw;
  color: #6b727c;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

main .links-container aside .g-user {
  position: absolute;
  top: 5vh;
  left: 5vw;
  color: #6b727c;
  font-size: 1.1rem;
}

main .links-container aside .codepen-name {
  position: absolute;
  top: 16vh;
  left: 5vw;
  color: #6b727c;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

main .links-container aside .c-user {
  position: absolute;
  top: 21vh;
  left: 5vw;
  color: #6b727c;
  font-size: 1.1rem;
}

main .links-container aside .spotify-name {
  position: absolute;
  top: 32.5vh;
  left: 5vw;
  color: #6b727c;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

main .links-container aside .s-user {
  position: absolute;
  white-space: nowrap;
  top: 37.5vh;
  left: 5vw;
  color: #6b727c;
  font-size: 1.1rem;
}

main .links-container aside span:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #6b727c;
  transition: all 300ms ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #c9d1d9;
}
