* {
  margin: 0;
  padding: 0;
  color: #c9d1d9;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 50vh;
  background-color: #000000;
  box-shadow: 1px 0 0 1px #262626;
}

header .logo1 {
  position: absolute;
  top: 7.5vh;
  left: 50%;
  transform: translate(-50%);
}

header .logo {
  width: 8rem;
  background: #121212;
  border: 3.5px solid #c9d1d9;
  border-radius: 50%;
}

header h1 {
  position: absolute;
  top: 31vh;
  left: 50%;
  transform: translate(-50%);
  font-family: Roboto;
  font-size: 1.8rem;
  font-weigth: 800;
  letter-spacing: 0.5rem;
}

header .baby_bat_codes {
  position: absolute;
  top: 38vh;
  left: 50%;
  transform: translate(-50%);
  transition: all 300ms ease-in-out;
  text-decoration: none;
  font-family: Roboto;
}

header .baby_bat_codes:hover {
  text-decoration: underline;
}

/* body */

body {
  width: 100vw;
  background: #121212;
  overflow-x: hidden;
}

main {
  height: 100vh;
  width: 100vw;
}

main .support {
  position: absolute;
  font-family: Roboto;
  font-size: 1rem;
  top: 58vh;
  left: 50%;
  transform: translate(-50%);
}

main .btn {
  position: absolute;
  background-image: linear-gradient(to right, #c9d1d9 77.5%, #6b727c 23.5%);
  width: 14rem;
  height: 3rem;
  color: #000;
  top: 67vh;
  left: 50%;
  transform: translate(-50%);
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

main .btn:hover {
  filter: drop-shadow(0 0 0.8rem #c9d1d9);
}

main .btn .coffee {
  position: absolute;
  top: 0.5vh;
  left: 14vw;
  font-size: 2rem;
}

main .btn .buyme {
  position: absolute;
  font-weight: bold;
  color: #000;
  top: 2.4vh;
  left: 3vw;
}

main .btn .heart {
  margin-left: 14.3vw;
  margin-top: 1.5vh;
  background-color: #c9d1d9;
  height: 0.6rem;
  transform: rotate(-45deg);
  width: 0.6rem;
  position: relative;
}

main .btn .heart:before,
.heart:after {
  content: "";
  background-color: #c9d1d9;
  border-radius: 50%;
  height: 0.6rem;
  position: absolute;
  width: 0.6rem;
}

main .btn .heart:before {
  top: -0.26rem;
}

main .btn .heart:after {
  left: 0.3rem;
}

main .btn .number {
  position: absolute;
  font-weight: bold;
  top: 3.5vh;
  right: 1vw;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #6b727c;
  transition: all 300ms ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #c9d1d9;
}
